.Product_Btn{
    padding: 0;
    border: none;
}
.category h3{
    text-align: center;
    padding-top: 20px;
    font-size: 26px;
    
}
.category{
    border: 2px solid black;
    
}
.categoryContent{
    display: flex;
}
.category-box{
    border: 2px solid black;
    margin: 25px 0px 35px 30px;
    width: 220px;
    
}
.category-box p{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}
.category-box h5{
    font-size: 19px;
}
.img-box{
    border: 2px solid;
    min-height: 210px;
}
.img-box img{
    object-fit: cover;
    width: 217px;
    height: 214px;
}
.create-btn{
display: flex;
    justify-content: center;
}