.Product_Btn{
    padding: 0;
    border: none;
}
.category h3{
    text-align: center;
    padding-top: 20px;
    font-size: 26px;
    
}

.product-image{
    width: 167px;
    height: 162px;
}
.categoryContent{
    display: flex;
}
.category-box{
    
    margin: 25px 0px 35px 30px;
    width: 220px;
    
}
.category-box p{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}
.category-box h5{
    font-size: 19px;
}
.img-box{
   
    min-height: 210px;
}
.img-box img{
    object-fit: cover;
    width: 217px;
    height: 214px;
}
.create-btn{
display: flex;
    justify-content: center;
}
.modal-heading {
    margin-bottom: 20px;
  }
  
  /* Button styles */
  .confirm-button,
  .cancel-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336; /* Red */
    color: white;
  }
  
  /* Button hover effect */
  .confirm-button:hover,
  .cancel-button:hover {
    opacity: 0.8;
  }
  .description,.specifications {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis (...) when text overflows */
  }